<html>
<% include header %)
Brain Wallet
    <form method="post" action="/wallet">
    <input type="text" name="brainsrc">
    <input type="submit" value="Git">
    </form>
    
    
    

</html>